.task h3 {
    color: grey; // default
  }
  
  @media (max-width: 100px) {
    .task h3 {
      color: red;
    }
  }
  
  @media (min-width: 101px) and (max-width: 200px) {
    .task h3 {
      color: blue;
    }
  }
  
  @media (min-width: 201px) and (max-width: 300px) {
    .task h3 {
      color: green;
    }
  }
  
  @media (min-width: 301px) and (max-width: 400px) {
    .task h3 {
      color: yellow;
    }
  }
  
  @media (min-width: 401px) and (max-width: 500px) {
    .task h3 {
      color: orange;
    }
  }
  
  @media (min-width: 501px) and (max-width: 600px) {
    .task h3 {
      color: purple;
    }
  }
  
  @media (min-width: 601px) and (max-width: 700px) {
    .task h3 {
      color: red;
    }
  }
  
  @media (min-width: 701px) and (max-width: 800px) {
    .task h3 {
      color: blue;
    }
  }
  
  @media (min-width: 801px) and (max-width: 900px) {
    .task h3 {
      color: orange;
    }
  }
  
  @media (min-width: 901px) {
    .task h3 {
      color: grey;
    }
  }
  